<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Board Arena</title>
	<!-- OG tags -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://biohzrdmx.github.io/board-arena/">
	<meta property="og:title" content="Board Arena">
	<meta property="og:image" content="https://biohzrdmx.github.io/board-arena/assets/images/share.png">
	<meta property="og:description" content="View and compare the most popular microcontroller boards specs">
	<meta property="og:site_name" content="Board Arena">
	<meta property="og:locale" content="en_US">
	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">
	<link rel="icon" href="assets/images/favicon-md.png" type="image/png">
	<!-- Device-specific icons -->
	<link rel="apple-touch-icon" href="assets/images/favicon-sm.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon-md.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon-lg.png" />
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" href="assets/styles/app.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93695188-8"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-93695188-8');
	</script>
</head>
<body>
	<header class="app-header"></header>
	<section class="app-client"></section>
	<footer class="app-footer"></footer>
	<!-- Templates -->
	<script type="text/template" id="partial-header">
		<div class="container py-1">
			<div class="m-1">
				<div class="row">
					<div class="col-6">
						<h1><a href="#/start"><img src="assets/images/badge_w.svg" width="60" alt="" class="img-fluid"></a></h1>
					</div>
					<div class="col-6">
						<nav class="app-menu">
							<ul>
								<li>
									<a href="#" class="js-toggle-menu"><i class="fa fa-bars"></i></a>
									<ul>
										<li><a href="#/start">All boards</a></li>
										<li><a href="#/compare">Comparator</a></li>
										<li><a href="https://github.com/biohzrdmx/board-arena">View on GitHub</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="partial-footer">
		<div class="container py-1">
			<div class="m-3">
				<div class="text-center">
					<p><img src="assets/images/logo.svg" width="160" alt="" class="img-fluid"></p>
					<p class="text-muted">All product names, logos and brands are property of their respective owners.</p>
					<p class="text-muted">Copyright &copy; <%= date.getFullYear() %> biohzrdmx. All rights reserved.</p>
					<p class="text-muted"><a href="https://github.com/biohzrdmx/board-arena" class="link-github"><i class="fab fa-github"></i> View project on GitHub</a></p>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="partial-slot">
		<form action="" method="post">
			<div class="form-fields">
				<div class="form-group">
					<select name="board" class="custom-select">
						<option value="">Select board</option>
						<% _.each(app.boards, function(board) { %>
							<option value="<%= board.slug %>" <%= selected == board.slug ? 'selected' : '' %>><%= board.name %></option>
						<% }) %>
					</select>
				</div>
			</div>
		</form>
		<div class="compare"></div>
	</script>
	<script type="text/template" id="partial-compare">
		<div class="compare-image">
			<img src="assets/boards/<%= board.slug %>/board.svg" alt="" class="img-fluid" width="240" height="240">
		</div>
		<div class="compare-details">
			<h3><%= board.name %></h3>
			<p><a href="#/board/<%= board.slug %>">View specifications</a></p>
			<h4>General properties</h4>
			<p><span>Brand</span><strong><%= board.brand %></strong></p>
			<p><span>Microcontroller</span><strong><%= board.microcontroller %></strong></p>
			<p><span>Dimensions</span><strong><i class="fa fa-fw fa-arrows-alt-h"></i> <%= board.size.length %>mm <i class="fa fa-fw fa-arrows-alt-v"></i> <%= board.size.width %>mm</strong></p>
			<h4>Power</h4>
			<p><span>Operating voltage</span><strong><%= app.formatArray(board.voltage, 'v', '/') %></strong></p>
			<p><span>Power supply</span><strong><%= app.formatArray(board.powerSupply, 'v', '&mdash;') %></strong></p>
			<p><span>Current usage (normal)</span><strong><%= app.formatArray(board.currentUsage.normal, 'mA', '&mdash;') %></strong></p>
			<p><span>Current usage (deep sleep)</span><strong><%= app.formatArray(board.currentUsage.deepSleep, 'mA', '&mdash;') %></strong></p>
			<h4>Input/Output</h4>
			<p><span>Digital I/O pins</span><strong><%= board.pins.digital %></strong></p>
			<p><span>Digital I/O pins with PWM</span><strong><%= board.pins.pwm %></strong></p>
			<p><span>Analog input pins</span><strong><%= board.pins.analog %></strong></p>
			<p><span>SPI</span><strong><%= board.pins.spi %></strong></p>
			<p><span>I&sup2;C</span><strong><%= board.pins.i2c %></strong></p>
			<p><span>I&sup2;S</span><strong><%= board.pins.i2s %></strong></p>
			<p><span>UART</span><strong><%= board.pins.uart %></strong></p>
			<p><span>Max. current per pin</span><strong><%= app.formatArray(board.pins.maxCurrent, 'mA') %></strong></p>
			<h4>Memory</h4>
			<p><span>Flash</span><strong><%= app.formatBytes(board.memory.flash) %></strong></p>
			<p><span>SRAM</span><strong><%= app.formatBytes(board.memory.sram) %></strong></p>
			<p><span>EEPROM</span><strong><%= app.formatBytes(board.memory.eeprom) %></strong></p>
			<h4>Processing</h4>
			<p><span>Cores</span><strong><%= board.cpu.cores %> <i class="fa fa-microchip"></i></strong></p>
			<p><span>Clock</span><strong><%= app.formatArray(board.cpu.clock, 'MHz', '/', 0.001) %></strong></p>
			<h4>Extra features</h4>
			<p><i class="fa fa-fw <%= board.features.wifi ? 'fa-check' : 'fa-times' %>"></i> WiFi</p>
			<p><i class="fa fa-fw <%= board.features.bluetooth ? 'fa-check' : 'fa-times' %>"></i> Bluetooth</p>
			<p><i class="fa fa-fw <%= board.features.can ? 'fa-check' : 'fa-times' %>"></i> CAN bus</p>
			<p><i class="fa fa-fw <%= board.features.ethernet ? 'fa-check' : 'fa-times' %>"></i> Ethernet</p>
			<p><i class="fa fa-fw <%= board.features.hall ? 'fa-check' : 'fa-times' %>"></i> Hall-effect sensor</p>
			<p><i class="fa fa-fw <%= board.features.touch ? 'fa-check' : 'fa-times' %>"></i> Touch sensor</p>
			<p><i class="fa fa-fw <%= board.features.temperature ? 'fa-check' : 'fa-times' %>"></i> Temperature sensor</p>
			<p><i class="fa fa-fw <%= board.features.powerJack ? 'fa-check' : 'fa-times' %>"></i> Power jack</p>
			<p><i class="fa fa-fw <%= board.features.usbConnector ? 'fa-check' : 'fa-times' %>"></i> USB connector</p>
		</div>
	</script>
	<script type="text/template" id="partial-placeholder">
		<p class="animable"><i class="far fa-fw fa-hand-point-up"></i> Pick some boards to get started</p>
	</script>
	<script type="text/template" id="page-start">
		<div class="block block-splash">
			<div class="container">
				<div class="m-3">
					<div class="text-center">
						<img src="assets/images/logo.svg" alt="" width="480" class="img-fluid">
						<p>View and compare the most popular microcontroller board specs </p>
						<p><a href="#" class="btn btn-primary btn-lg js-view-boards">View all boards</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="block block-boards">
			<div class="container py-1">
				<div class="m-3">
					<h2>Available boards</h2>
					<form action="" method="post">
						<div class="form-fields">
							<div class="form-group">
								<div class="icon-group">
									<input type="text" name="search" id="search" class="form-control" placeholder="Search" autocomplete="off">
									<i class="fa fa-search group-icon"></i>
								</div>
							</div>
						</div>
					</form>
					<div class="list list-boards row">
						<% _.each(app.boards, function(board) { %>
							<div class="col-md-4 col-lg-3">
								<div class="item item-board" data-name="<%= board.name.toLowerCase() %>">
									<div class="item-image">
										<img src="assets/boards/<%= board.slug %>/board.svg" alt="" class="img-fluid" width="320" height="320">
									</div>
									<div class="item-details">
										<h4><%= board.name %></h4>
										<p><%= board.microcontroller %></p>
										<a href="#/board/<%= board.slug %>" class="btn btn-primary btn-block">Specifications</a>
										<a href="#/compare/<%= board.slug %>" class="btn btn-outline-primary btn-block">Compare</a>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
					<div class="placeholder d-none">
						<p><i class="fa fa-fw fa-search"></i> There are no boards that match your criteria</p>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="page-board">
		<div class="block-board">
			<div class="container py-1">
				<div class="m-3">
					<h2><a href="#/start">Boards</a> <i class="fa fa-angle-right"></i> <%= board.name %></h2>
					<div class="board-details">
						<div class="row">
							<div class="col-md-5">
								<div class="board-image">
									<img src="assets/boards/<%= board.slug %>/board.svg" alt="" class="img-fluid" width="640" height="640">
								</div>
							</div>
							<div class="col-md-7">
								<div class="board-description"><%= marked(board.details) %></div>
								<p>
									<a href="#/start" class="btn btn-outline-primary js-back-boards"><i class="fa fa-fw fa-angle-left"></i> Back to list</a>
									<a href="#/compare/<%= board.slug %>" class="btn btn-primary"><i class="fa fa-fw fa-clone"></i> Compare board</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block-specs">
			<div class="container py-1">
				<div class="m-3">
					<div class="board-details">
						<div class="board-specs">
							<h2>Specifications</h2>
							<div class="row">
								<div class="col-md-3">
									<h3>General properties</h3>
									<p><span>Brand</span><strong><%= board.brand %></strong></p>
									<p><span>Microcontroller</span><strong><%= board.microcontroller %></strong></p>
									<p><span>Dimensions</span><strong><i class="fa fa-fw fa-arrows-alt-h"></i> <%= board.size.length %>mm <i class="fa fa-fw fa-arrows-alt-v"></i> <%= board.size.width %>mm</strong></p>
									<h3>Power</h3>
									<p><span>Operating voltage</span><strong><%= app.formatArray(board.voltage, 'v', '/') %></strong></p>
									<p><span>Power supply</span><strong><%= app.formatArray(board.powerSupply, 'v', '&mdash;') %></strong></p>
									<p><span>Current usage (normal)</span><strong><%= app.formatArray(board.currentUsage.normal, 'mA', '&mdash;') %></strong></p>
									<p><span>Current usage (deep sleep)</span><strong><%= app.formatArray(board.currentUsage.deepSleep, 'mA', '&mdash;') %></strong></p>
								</div>
								<div class="col-md-3">
									<h3>Input/Output</h3>
									<p><span>Digital I/O pins</span><strong><%= board.pins.digital %></strong></p>
									<p><span>Digital I/O pins with PWM</span><strong><%= board.pins.pwm %></strong></p>
									<p><span>Analog input pins</span><strong><%= board.pins.analog %></strong></p>
									<p><span>SPI <i class="fa fa-question-circle" title="Serial Peripheral Interface"></i></span><strong><%= board.pins.spi %></strong></p>
									<p><span>I&sup2;C <i class="fa fa-question-circle" title="Inter-Integrated Circuit"></i></span><strong><%= board.pins.i2c %></strong></p>
									<p><span>I&sup2;S <i class="fa fa-question-circle" title="Integrated Interchip Sound"></i></span><strong><%= board.pins.i2s %></strong></p>
									<p><span>UART <i class="fa fa-question-circle" title="Universal Asynchronous Receiver-Transmitter"></i></span><strong><%= board.pins.uart %></strong></p>
									<p><span>Max. current per pin</span><strong><%= board.pins.maxCurrent %>mA</strong></p>
								</div>
								<div class="col-md-3">
									<h3>Memory</h3>
									<p><span>Flash</span><strong><%= app.formatBytes(board.memory.flash) %></strong></p>
									<p><span>SRAM</span><strong><%= app.formatBytes(board.memory.sram) %></strong></p>
									<p><span>EEPROM</span><strong><%= app.formatBytes(board.memory.eeprom) %></strong></p>
									<h3>Processing</h3>
									<p><span>Cores</span><strong><%= board.cpu.cores %> <i class="fa fa-microchip"></i></strong></p>
									<p><span>Clock</span><strong><%= app.formatArray(board.cpu.clock, 'MHz', '/', 0.001) %></strong></p>
								</div>
								<div class="col-md-3">
									<h3>Extra features</h3>
									<p><i class="fa fa-fw <%= board.features.wifi ? 'fa-check' : 'fa-times' %>"></i> WiFi</p>
									<p><i class="fa fa-fw <%= board.features.bluetooth ? 'fa-check' : 'fa-times' %>"></i> Bluetooth</p>
									<p><i class="fa fa-fw <%= board.features.can ? 'fa-check' : 'fa-times' %>"></i> CAN bus</p>
									<p><i class="fa fa-fw <%= board.features.ethernet ? 'fa-check' : 'fa-times' %>"></i> Ethernet</p>
									<p><i class="fa fa-fw <%= board.features.hall ? 'fa-check' : 'fa-times' %>"></i> Hall-effect sensor</p>
									<p><i class="fa fa-fw <%= board.features.touch ? 'fa-check' : 'fa-times' %>"></i> Touch sensor</p>
									<p><i class="fa fa-fw <%= board.features.temperature ? 'fa-check' : 'fa-times' %>"></i> Temperature sensor</p>
									<p><i class="fa fa-fw <%= board.features.powerJack ? 'fa-check' : 'fa-times' %>"></i> Power jack</p>
									<p><i class="fa fa-fw <%= board.features.usbConnector ? 'fa-check' : 'fa-times' %>"></i> USB connector</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="page-compare">
		<div class="container py-1">
			<div class="m-3">
				<h2><a href="#/start">Boards</a> <i class="fa fa-angle-right"></i> Compare boards</h2>
				<div class="comparator">
					<div class="row">
						<div class="col-md-4">
							<div class="comparator-slot slot-1 js-slot"></div>
						</div>
						<div class="col-md-4">
							<div class="comparator-slot slot-2 js-slot"></div>
						</div>
						<div class="col-md-4">
							<div class="comparator-slot slot-3 js-slot"></div>
						</div>
					</div>
					<div class="placeholder"></div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="page-error">
		<div class="container py-1">
			<div class="m-3">
				<h2>Not found</h2>
			</div>
		</div>
	</script>
	<!-- Scripts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.ui.min.js"></script>
	<script type="text/javascript" src="assets/scripts/class.js"></script>
	<script type="text/javascript" src="assets/scripts/app.js"></script>
</body>
</html>