html {
  overflow-y: scroll;
  font-size: 15px;
}
body {
  font-family: 'Roboto', Arial, Helvetica;
  font-size: 15px;
  color: #222222;
  background: #FFFFFF;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
section {
  flex: 1 0 0;
}
h2 {
  margin-bottom: 15px;
}
h2 .fa-angle-right {
  color: #bbbbbb;
}
h2 a {
  text-decoration: none;
}
h2 a:hover {
  text-decoration: none;
}
a {
  color: #FF9800;
}
a:hover {
  color: #cc7a00;
}
.btn.btn-primary {
  background-color: #FF9800;
  border-color: #FF9800;
}
.btn.btn-primary:hover {
  background-color: #e68900;
  border-color: #e68900;
}
.btn.btn-primary:active:not(:disabled) {
  background-color: #cc7a00;
  border-color: #cc7a00;
}
.btn.btn-outline-primary {
  border-color: #FF9800;
  color: #FF9800;
}
.btn.btn-outline-primary:hover {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #FFFFFF;
}
.btn.btn-outline-primary:active:not(:disabled) {
  background-color: #cc7a00;
  border-color: #cc7a00;
}
.animable {
  opacity: 0;
}
.app-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #FF9800;
}
.app-header h1 {
  margin-bottom: 0;
}
.app-header a {
  color: #FFFFFF;
}
.app-header a:hover {
  color: #FFFFFF;
}
.app-header .app-menu {
  margin-top: 2px;
}
.app-header .app-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.app-header .app-menu > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.app-header .app-menu > ul > li > a {
  display: block;
  font-size: 28px;
  padding: 7px 15px;
}
.app-header .app-menu > ul > li > ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #ffa624;
  right: 0;
}
.app-header .app-menu > ul > li > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.app-header .app-menu > ul > li > ul > li > a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  padding: 7px 15px;
}
.app-header .app-menu > ul > li > ul > li > a:hover {
  background: #ffb13d;
}
.app-header .app-menu > ul > li:hover {
  background: #ffa624;
}
.app-header .app-menu > ul > li:hover > ul {
  display: block;
}
.app-footer p {
  margin-bottom: 0;
}
.app-footer p:not(:last-child) {
  margin-bottom: 5px;
}
.app-footer .link-github {
  color: #626262;
}
.app-footer .link-github:hover {
  color: #2f2f2f;
  text-decoration: none;
}
.app-client {
  padding-top: 80px;
}
.link-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.list .item {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 5px;
  transition: all 350ms;
}
.list .item .item-image {
  background: url('../images/grid.png') 0 0 repeat;
  background-size: cover;
}
.list .item .item-image img {
  transition: all 350ms;
}
.list .item .item-details {
  padding: 15px;
}
.list .item .item-details h4 {
  margin-bottom: 3px;
}
.list .item .item-details p {
  color: #777777;
}
.list .item:hover .item-image img {
  filter: brightness(1.1);
}
.form-group .icon-group {
  position: relative;
}
.form-group .icon-group .form-control {
  padding-left: 32px;
}
.form-group .icon-group .group-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -7px;
  color: #bbbbbb;
}
.placeholder {
  text-align: center;
}
.placeholder p {
  color: #848484;
  border: 1px dashed #d0d0d0;
  background: #fcfcfc;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 1.15em;
  min-width: 50%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.board-details .board-specs span {
  display: block;
  color: #777777;
}
.board-details .board-specs strong {
  display: block;
  font-size: 1.2em;
  font-weight: 400;
}
.board-details .board-specs h3 {
  margin-bottom: 15px;
}
.board-details .board-specs .fa-check {
  color: #81C784;
}
.board-details .board-specs .fa-times {
  color: #EF5350;
}
.board-details .board-specs .fa-question-circle {
  font-size: 13px;
  color: #999999;
  cursor: help;
  transition: all 350ms;
}
.board-details .board-specs .fa-question-circle:hover {
  color: #777777;
}
.board-details .board-specs .fa-microchip,
.board-details .board-specs .fa-arrows-alt-h,
.board-details .board-specs .fa-arrows-alt-v {
  color: #999999;
}
.board-details .board-description p {
  line-height: 1.75;
  font-size: 1.25em;
}
.board-details .board-image {
  text-align: center;
  background: url('../images/grid.png') 0 0 repeat;
  background-size: cover;
  margin-bottom: 15px;
}
.comparator .compare {
  background: #fcfcfc;
  padding: 1px 0;
}
.comparator .compare .compare-image {
  text-align: center;
  background: url('../images/grid.png') 0 0 repeat;
  background-size: cover;
  margin-bottom: 15px;
}
.comparator .compare .compare-details {
  text-align: center;
}
.comparator .compare .compare-details span {
  display: block;
  color: #777777;
}
.comparator .compare .compare-details strong {
  display: block;
  font-size: 1.2em;
  font-weight: 400;
}
.comparator .compare .compare-details h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 12px;
  margin-bottom: 15px;
}
.comparator .compare .compare-details h4 {
  margin-bottom: 15px;
  font-size: 0.95em;
  padding: 7px;
  background: #f1f1f1;
  color: #777777;
}
.comparator .compare .compare-details .fa-check {
  color: #81C784;
}
.comparator .compare .compare-details .fa-times {
  color: #EF5350;
}
.comparator .compare .compare-details .fa-question-circle {
  font-size: 13px;
  color: #999999;
  cursor: help;
  transition: all 350ms;
}
.comparator .compare .compare-details .fa-question-circle:hover {
  color: #777777;
}
.comparator .compare .compare-details .fa-microchip,
.comparator .compare .compare-details .fa-arrows-alt-h,
.comparator .compare .compare-details .fa-arrows-alt-v {
  color: #999999;
}
.block-splash {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-splash p {
  font-size: 1.5em;
  color: #424242;
}
.block-boards {
  background: #FAFAFA;
  padding: 45px 0;
}
.block-boards .form-fields {
  margin-bottom: 30px;
}
.block-specs {
  background: #FAFAFA;
  padding: 45px 0;
}
.block-specs h2 {
  margin-bottom: 30px;
}
